.sequencer .current {
    background: rgba(0, 0, 0, 0.1);
}

.sequencer .note:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.sequencer .note.black-note {
    background-color: rgba(0, 0, 0, 0.1);
}

.sequencer .note.black-note:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.sequencer .note button {
    width: 100%;
    text-align: right;
    color: darkslategray;
    background-color: ghostwhite;
    border: 1px solid darkslategray;
    height: 20px;
    -webkit-appearance: none;
    border-radius: 4px;
    display: block;
}

.sequencer .note.black-note button {
    color: ghostwhite;
    background-color: darkslategray;
}

.sequencer .note button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.sequencer .beat-indicator {
    text-align: center;
    color: darkslategray;
    background-color: darkslategray;
    border: 1px solid darkslategray;
    border-radius: 4px;
    transition: .1s ease-out background-color, .1s ease-out color;
}

.sequencer .beat-indicator.current {
    color: greenyellow;
    background-color: greenyellow;
    border: 1px solid darkslategray;
}

.sequencer input[type="checkbox"] {
    width: 24px;
    height: 20px;
    background-color: ghostwhite;
    border: 1px solid darkslategray;
    border-radius: 4px;
    -webkit-appearance: none;
    margin: 0;
    transition: .2s ease-out background-color;
}

.sequencer .current input[type="checkbox"] {
    background-color: silver;
}

.sequencer input[type="checkbox"]:checked {
    background-color: darkorange;
}

.sequencer .current input[type="checkbox"]:checked {
    background-color: gold;
}

.sequencer .note td:nth-child(4n+2) input[type="checkbox"] {
    background: rgb(235, 235, 235);
}

.sequencer .note td:nth-child(4n+2) input[type="checkbox"]:checked {
    background: rgb(211, 116, 0);
}

.sequencer .empty {
    text-align: right;
}

.track-controls {
    display: flex;
    list-style: none;
    margin: 0 0 8px;
    padding: 0;
}
