.Control > h1 {
    float: left;
    margin-right: 16px
}

.spacer-left {
    margin-left: 8px;
}

.sequencer-controls,
.additional-controls {
    display: flex;
    list-style: none;
    margin: 0 0 8px;
    padding: 0;
}

.control-button {
    border: 1px solid darkslategray;
    background: darkslategray;
    color: ghostwhite;
    border-radius: 4px;
    margin-right: 4px;
    cursor: pointer;
    font-size: 10pt;
    text-decoration: none;
    padding: 1px 7px;
    display: inline-block;
    font-weight: 300;
    transition: background .2s ease-out;
}

.control-button:hover {
    border: 1px solid rgb(72, 119, 119);
    background: rgb(72, 119, 119);
    color: white;
}

.control-button:active {
    border: 1px solid rgb(29, 48, 48);
    color: rgb(189, 189, 194);
    background: rgb(29, 48, 48);
}

.control-button:active,
.control-button:focus {
    color: greenyellow;
    outline: none;
}

.control-field {
    position: relative;
    display: inline-block;
    margin-right: 8px;
}

.control-field__label {
    display: block;
    position: absolute;
    left: 5px;
    top: 3px;
    z-index: 10;
    font-size: .7em;
    color: gray;
}

.control-field__field {
    text-align: right;
    border-radius: 4px 4px 0;
    border: 1px solid;
    position: relative;
    min-width: 50px;
}

select.control-field__field {
    text-align-last: right;
}
